/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
/*CSS RESET*/
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Actual css*/

.movie-header{
  background-image: url('../static/images/minions_back3.jpg');
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.movie-portrait{
  box-sizing: border-box;
  box-shadow: 0px 0px 40px 8px rgba(0,0,0,1);
  margin: 15px;
  height: 0%;
  width: 15%;
}

.movie-title{
  text-align: center;
  vertical-align: center;
  font-weight: bolder;
  width: 78%;
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  margin-left: -15px;
}

.movie-social-stats{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: grey;
  line-height: 2em;
  opacity: 0.9;
  color: white;
  font-weight: bold;
}

.stat-label{
  font-size: 0.8em;
  color: lightgrey;
}

.movie-details{
  margin: 1em;
}

.detail-label{
  font-weight: bold;
  color: lightgrey; 
}

.pg-certification{
  color: darkgreen;
  font-weight: bold;
  font-size: 0.75em;
  border: 2px solid darkgreen;
  padding: 0.2em;
}

.movie-description{
  text-align: justify;
  padding: 1em;
}

.collection-manager{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 2em;
  color: black;
  font-weight: bold;
}

.collection-manager > li{
  margin: 0.2em 0.8em;
  padding-left: 1em;
  width: 100%;
  border: 2px solid black;
}

.comment{
  margin-bottom: 1em;
}

.comment-heading{
  font-weight: bold;
  background-color: #969696;
  padding: 0.5em 1em;
  margin-bottom: 0;
}

.comment-body{
  padding: 0.5em 1em;
  background-color: lightgrey;
}
.comment-date{
  color: #512828;
  font-weight: bolder;
}

.comment-writer-wrapper{
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comment-writer-wrapper > button{
  margin: 0.5em 1em 0 1em;
}

.comment-writer-area{
  box-sizing: border-box;
  border: 1px solid black;
  width: 98%;
  height: 5em;
}

.spoiler-button{
  padding: 0.5em;
  background-color: #5FE0A5;
  color: black;
  font-weight: bolder;
  border: none;
}

.post-button{
  padding: 0.5em;
  background-color: #353D8F;
  color: white;
  font-weight: bolder;
  border: none;
}